<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('자유게시판')">
    <meta charset="utf- 8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"  rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <title>리뷰게시판</title>


</head>

<body>
    <div class="container-xxl bg-white p-0" th:replace="fragments/common :: menu('board')">
        <!--fragments/common.html에 놓았음 공용부분-->
        <!-- <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>ALLKIT</h1>

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">전체카테고리</a>
                            <div class="dropdown-menu m-0">
                                <a href="booking.html" class="dropdown-item">한식</a>
                                <a href="team.html" class="dropdown-item">일식</a>
                                <a href="testimonial.html" class="dropdown-item">중식</a>
                                <a href="booking.html" class="dropdown-item">양식</a>
                                <a href="team.html" class="dropdown-item">채소/샐러드</a>
                                <a href="testimonial.html" class="dropdown-item">후식</a>
                            </div>
                        </div>

                        <a href="index.html" class="nav-item nav-link active">홈</a>
                        <a href="about.html" class="nav-item nav-link">신상품</a>
                        <a href="service.html" class="nav-item nav-link">베스트</a>
                        <a href="menu.html" class="nav-item nav-link">특가/혜택</a>
                        <a href="menu.html" class="nav-item nav-link">로그인</a>
                        <a href="menu.html" class="nav-item nav-link">고객센터</a>
                    </div>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container my-5 py-5">
                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-3 text-white animated slideInLeft">우리의<br>맛있는 식사</h1>
                            <br>
                            <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">제품 보러가기</a>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                            <img class="img-fluid" src="img/hero.png" alt="">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        
        
    
        <div class="container">      
        <h2>게시판</h2>
            <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/board/list}">
				  <div class="form-group mx-sm-3 mb-2 sea">
				    <label for="searchKeyword" class="sr-only">검색</label>
				    <input type="text" class="form-control" id="searchKeyword" name = "searchKeyword" th:value="${param.searchKeyword}">
				  </div>
				  <button type="submit" class="btn btn-dark btn-primary mb-2">확인</button>
			</form><br><br><br>
             


              <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">게시글번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                            <th scope="col">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="board: ${boards}">
                            <td>
                            	<span th:text="${board.boardId}"></span>
                            </td>
                              <td>
                				<a th:text="${board.boardTitle}" th:href="@{/board/detail(boardId=${board.boardId})}"></a>
           					 </td>
                            <td><span th:text="${board.boardWriter}"></span></td>
                            <td><span th:text="${#temporals.format(board.boardDate, 'yyyy-MM-dd HH:mm')}"></span></td>
                            <td><span th:text="${board.boardHit}"></span></td>
                        </tr>                
                    </tbody> 
                </table>
                
                
                <nav aria-label="Page navigation example">
				  <ul class="pagination justify-content-center">
				    <li class="page-item" th:classappend ="${1 == boards.pageable.pageNumber + 1} ? 'disabled'">
				      <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber - 1})}" tabindex="-1" aria-disabled="true">Previous</a>
				    </li>
				    <li class="page-item" th:classappend ="${i == boards.pageable.pageNumber + 1} ? 'disabled'" th:each="i: ${#numbers.sequence(startPage, endPage)}">
				   	  <a class="page-link" href="#" th:href="@{/board/list(page=${i - 1})}"  th:text=${i}>1</a> 
				    </li>
				    <li class="page-item"></li>
				    <li class="page-item" th:classappend ="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'">
				      <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber + 1})}">Next</a>
				    </li>
				  </ul>
				</nav>  
	
		
				
				<div class = "write">
                    <a type = "button" class="btn btn-dark" th:href="@{/board/form}">작성하기</a>
                 
				</div>

        </div>

 
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">등록 회사</h4>
                        <p>마이셰프</p>
                        <p>이연복의 목란</p>
                        <p>팔도</p>
                        <p>농심</p>
                        <p>하림</p>
                        <!-- <a class="btn btn-link" href="">이연복의 목란</a>
                        <a class="btn btn-link" href="">팔도</a>
                        <a class="btn btn-link" href="">농심</a>
                        <a class="btn btn-link" href="">하림</a> -->

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">위치</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>서울특별시 노원구 공릉 1동</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>010-5720-3562</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>saunghunlee@naver.com</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">오픈 시간</h4>
                        <h5 class="text-light fw-normal">월요일~금요일</h5>
                        <p>08AM - 10PM</p>
                        <h5 class="text-light fw-normal">
                            토요일~일요일</h5>
                        <p>09AM - 08PM</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">회사</h4>
                        <p>
                            법인명 (상호) : 주식회사 올키트
                        </p>
                        <p>
                            사업자등록번호 : 123-45-67890
                        </p>
                        <p>
                            개인정보보호책임자(부대표) : 최진욱
                        </p>
                        <p>
                            대표 : 이상훈
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>